/Arduino IDE.lnk
/Astrometrica.lnk
/Brave.lnk
/desktop.ini
/GitHub Desktop.lnk
/Gov. Docs
/Immigration docs
/Jobs Applied
/Microsoft Teams (work or school).lnk
/Mine Dataset
/Pictures-Me
/Resumes
/SAIT.lnk
/Security License
/Sukhman Singh -- Sales Associate -- Resume.docx
/Sukhman Singh -- Sales Associate -- Resume.pdf
/Sukhman Singh-Resume-WDC.docx
/Sukhman Singh.pdf
/Sukhman-Resume-JF.docx
/Sukhman-Resume-JF.pdf
/Sukhman.lnk
/SYS NEEDS.docx
/The 48 Laws of Power - Robert Greene.pdf
/Visual Studio 2022.lnk
/WhatsApp.lnk
/Zoom.lnk